<ion-view view-title="Perfil">
  <ion-content class="content-material">

<ul class="list">
    <li class="item item-toggle">
     Limitación Sensorial
     <label class="toggle toggle-positive">
       <input type="checkbox" ng-change="changeLimitacion()"> 
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
    </li>

    <li class="item item-toggle">
      Limitación Cognitiva
     <label class="toggle toggle-positive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>

  <li class="item item-toggle">
      Limitación Fisica
     <label class="toggle toggle-positive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>

</ul>

</ion-content>
</ion-view>
