<ion-view view-title="Colabora">
  <ion-content>
  	<div class="colabora">
	
	<div class="list">
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Lugar</span>
	    <input type="text" placeholder="Hospital Cancun">
	  </label>
	  
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Dirección</span>
	    <input type="text" placeholder="Calle sur #11">
	  </label>
	  
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Cuentanos tu experiencia</span>
	    	<textarea placeholder="Comments"></textarea>
  		</label>
	  </label>

	  <button class="button button-block button-positive">
		  Enviar 
	  </button>

	  </div>

	</div>
  </ion-content>
</ion-view>
