<ion-view view-title="Encuentra">
	
	<ion-nav-buttons side="right">
      <!-- <a class="button button-bar" href="#/categorias">
      	<i class="icon ion-android-search icon-large"></i>
      </a> -->
		
		<a href="#/tab/busqueda" class="button button-icon icon ion-android-search"></a>
      
    </ion-nav-buttons>

  	<ion-content class="content-material">
	<div class="encuentra">
		<div class="encuentra-categorias">
			<!-- Item de categoria -->
			<a class="encuentra-categorias-item turismo" href="#/tab/categoria-detalle/1">
				<h3>Turismo</h3>
			</a>
			<div class="encuentra-categorias-item parque">
				<h3>Parques</h3>
			</div>

			<div class="encuentra-categorias-item turismo">
				<h3>Turismo</h3>
			</div>
			<div class="encuentra-categorias-item parque">
				<h3>Parques</h3>
			</div>

			
			<div class="encuentra-categorias-item turismo">
				<h3>Turismo</h3>
			</div>
			<div class="encuentra-categorias-item parque">
				<h3>Parques</h3>
			</div>

			<!-- <div class="encuentra-categorias-item">
			
			</div>
			<div class="encuentra-categorias-item">
			
			</div>
			<div class="encuentra-categorias-item">
			
			</div>
			<div class="encuentra-categorias-item">
			
			</div>
			<div class="encuentra-categorias-item">
			
			</div>
			<div class="encuentra-categorias-item">
			
			</div>
 -->
		</div>
	</div>    
	
  	</ion-content>
</ion-view>
