<ion-view view-title="Encuentra">
	
	<ion-nav-buttons side="right">
		<a href="#/tab/busqueda" class="button button-icon icon ion-android-search"></a>
      
    </ion-nav-buttons>

    <ion-nav-buttons side="left">
		<a href="#/tab/perfil" class="button button-icon icon ion-person"></a>
      
    </ion-nav-buttons>

  	<ion-content class="content-material">
	<div class="encuentra">
		<div class="encuentra-categorias">
			<!-- Item de categoria -->
			

			<a class="encuentra-categorias-item turismo" href="#/tab/categoria-detalle/2">
				<h3>Sitios Turisticos</h3>
			</a>

			<a class="encuentra-categorias-item hotel" href="#/tab/categoria-detalle/1">
				<h3>Hoteles</h3>
			</a>
			
			<a class="encuentra-categorias-item restaurante" href="#/tab/categoria-detalle/3">
				<h3>Restaurantes</h3>
			</a>
			
			<a class="encuentra-categorias-item centro" href="#/tab/categoria-detalle/4">
				<h3>Centros Comerciales</h3>
			</a>
			
			<a class="encuentra-categorias-item parque" href="#/tab/categoria-detalle/5">
				<h3>Parques Infantiles</h3>
			</a>

			<a class="encuentra-categorias-item banco" href="#/tab/categoria-detalle/6">
				<h3>Bancos</h3>
			</a>
			
			
		</div>
	</div>    
	
  	</ion-content>
</ion-view>
